.u-block-5b04-5 {
  position: absolute;
  inset: auto auto 212px calc(50% - 536px);
  width: auto;
  height: auto;
}

.u-block-5b04-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(white, #888c3f);
  padding: 11px;
}

.u-block-5b04-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(white, #888c3f);
  padding: 11px;
}

@media (max-width: 767px) {
  .u-block-5b04-3 {
    width: 41px;
    height: 41px;
    top: 289px;
    right: auto;
    padding: 9px;
  }

  .u-block-5b04-4 {
    width: 41px;
    height: 41px;
    padding: 9px;
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/d6a955618aa4e8fd6b4150bb0a4efe7c3b18ac94b50d6dfd4aa33eae08a32459a0ed1d03cff6f7e5a68091d4bd977190de7fed411dbf116c2bce22_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 823px;
}

.u-section-1-1 .u-group-1 {
  width: 626px;
  min-height: 320px;
  height: auto;
  margin: 147px auto 0 0;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 562px;
  margin: 0 auto 60px 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 82px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1-1 .u-group-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 340px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/6cb56109ea7a6cb58bad1de4be8adf0c8a4b1864bfca9a938b94a164daf24fd4ecbb405506950a92e53b259090293764c1b51b4720d4b5313f2674_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-1-2 .u-group-1 {
  width: 626px;
  min-height: 320px;
  height: auto;
  margin: 147px auto 60px 0;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1-2 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1-2 .u-group-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1-2 .u-group-1 {
    width: 540px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1-2 {
    background-position: 70.66% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 618px;
  background-image: url("images/765.jpg");
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 618px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 565px;
  transform-origin: left center;
  margin: 40px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 127px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-image-1 {
    min-height: 510px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-2 .u-line-1 {
    width: 473px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-2 .u-image-1 {
    min-height: 901px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 747px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 165px;
    grid-auto-columns: 33.3333%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-2 .u-image-1 {
    min-height: 676px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 828px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-2 .u-image-1 {
    min-height: 426px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 288px;
    grid-auto-columns: 50%;
  }
} .u-section-3 {
  background-image: none;
  min-height: 676px;
}

.u-section-3 .u-image-1 {
  width: 379px;
  height: 223px;
  margin: 26px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 36px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 175px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 18px 57px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 175px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 17px 24px 18px 23px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 11px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 764px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.875rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 614px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 41px;
    padding-left: 40px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 200px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}